#firstLoadText {
    height: 50%;
    width: fit-content;
    color: darkgoldenrod;
    text-shadow: 2px 2px white;
    display: flex;
    position: relative;
}

#quote, #source {
    position: static;
    font-size: 50px;
    font-style: italic;
    font-family: fantasy;
    animation-name: showWord;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#source {
    font-size: 15px;
}

@keyframes showWord {
    from {opacity: 0%;}
    to {opacity: 100%;}
}