#container {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBody {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstLoadText {
    height: 50%;
    color: darkgoldenrod;
    text-shadow: 2px 2px white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}

#quote {
    font-size: 50px;
    font-style: italic;
    font-family: fantasy;
}

#source {
    font-size: 15px;
    font-family: fantasy;
}