.row {
    height: 100%;
    align-content: center;
}

#navContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.labelContainer {
    display: flex;
    justify-content: center;
    align-self: baseline;
}

.mainLabel {
    color: white;
    font-family: monospace;
    font-size: 25px;
    align-self: baseline;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    height:fit-content;
    animation-name: showWord;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes showWord {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.secondLabel {
    color: white;
    font-family: monospace;
    font-size: 20px;
    align-self: baseline;
    text-align: center;
    cursor: pointer;
    animation-name: showWord;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

