.resumeContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.3);
    animation-name: showResumeContainer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showResumeContainer {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
