body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  background-image: url("./malith-d-karunarathne-qIRJeKdieKA-unsplash.jpg");
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* animation-name: showMain;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
}

@keyframes showMain {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

#mainContainer {
  height: 87%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navBar {
  position: fixed;
  bottom: 5px;
  width: 100%;
  height: auto;
  max-height: 20%;
  min-height: 10%;
  box-shadow: 0px 0px 20px 20px black;
  background-color: black;
}

